<?xml version="1.0" encoding="utf-8"?>
<project xmlns="http://www.plcopen.org/xml/tc6_0200">
  <fileHeader companyName="" productName="CODESYS" productVersion="CODESYS V3.5 SP19" creationDateTime="2023-07-27T15:23:10.0353963" />
  <contentHeader name="zerobot.project" modificationDateTime="2023-07-27T15:22:35.452407">
    <coordinateInfo>
      <fbd>
        <scaling x="1" y="1" />
      </fbd>
      <ld>
        <scaling x="1" y="1" />
      </ld>
      <sfc>
        <scaling x="1" y="1" />
      </sfc>
    </coordinateInfo>
    <addData>
      <data name="http://www.3s-software.com/plcopenxml/projectinformation" handleUnknown="implementation">
        <ProjectInformation />
      </data>
    </addData>
  </contentHeader>
  <types>
    <dataTypes />
    <pous>
      <pou name="app" pouType="program">
        <interface>
          <outputVars>
            <variable name="setup">
              <type>
                <derived name="Setup" />
              </type>
            </variable>
            <variable name="cmd">
              <type>
                <derived name="Cmd" />
              </type>
            </variable>
          </outputVars>
          <inputVars>
            <variable name="fbk">
              <type>
                <derived name="Fbk" />
              </type>
            </variable>
          </inputVars>
          <localVars>
            <variable name="shm">
              <type>
                <derived name="RTS_IEC_HANDLE" />
              </type>
            </variable>
            <variable name="sem">
              <type>
                <derived name="RTS_IEC_HANDLE" />
              </type>
            </variable>
            <variable name="iec_result">
              <type>
                <derived name="RTS_IEC_RESULT" />
              </type>
            </variable>
            <variable name="conflicts">
              <type>
                <UDINT />
              </type>
              <initialValue>
                <simpleValue value="0" />
              </initialValue>
            </variable>
            <variable name="_init">
              <type>
                <BOOL />
              </type>
              <initialValue>
                <simpleValue value="init()" />
              </initialValue>
              <documentation>
                <xhtml xmlns="http://www.w3.org/1999/xhtml">must be the last variable</xhtml>
              </documentation>
            </variable>
          </localVars>
          <addData>
            <data name="http://www.3s-software.com/plcopenxml/attributes" handleUnknown="implementation">
              <Attributes>
                <Attribute Name="global_init_slot" Value="100" />
              </Attributes>
            </data>
          </addData>
          <documentation>
            <xhtml xmlns="http://www.w3.org/1999/xhtml"> Copyright (c) 2023 Artur Wiebe &lt;artur@4wiebe.de&gt;

 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 associated documentation files (the "Software"), to deal in the Software without restriction,
 including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
 subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</xhtml>
          </documentation>
        </interface>
        <body>
          <ST>
            <xhtml xmlns="http://www.w3.org/1999/xhtml">IF SysSemProcessEnter(sem, 0) = 0 THEN
	SysSharedMemoryRead (shm,           0, ADR(cmd), SIZEOF(Cmd), ADR(iec_result));
	SysSharedMemoryWrite(shm, SIZEOF(Cmd), ADR(fbk), SIZEOF(Fbk), ADR(iec_result));
	SysSemProcessLeave(sem);
ELSE
	conflicts := conflicts + 1;
END_IF
</xhtml>
          </ST>
        </body>
        <addData>
          <data name="http://www.3s-software.com/plcopenxml/method" handleUnknown="implementation">
            <Method name="init" ObjectId="54fac29e-965b-4b36-9a4b-ce8b09c8937d">
              <interface>
                <returnType>
                  <BOOL />
                </returnType>
                <localVars>
                  <variable name="shm_size">
                    <type>
                      <derived name="__UXINT" />
                    </type>
                    <initialValue>
                      <simpleValue value="(SIZEOF(Fbk) + SIZEOF(Cmd))" />
                    </initialValue>
                  </variable>
                  <variable name="setup_fh">
                    <type>
                      <derived name="RTS_IEC_HANDLE" />
                    </type>
                  </variable>
                </localVars>
              </interface>
              <body>
                <ST>
                  <xhtml xmlns="http://www.w3.org/1999/xhtml">init := TRUE;

shm := SysSharedMemoryCreate('codesys', 0, ADR(shm_size), ADR(iec_result));	
sem := SysSemProcessCreate('codesys', ADR(iec_result));

setup_fh := SysFileOpen('/run/codesys/setup', SysFile.ACCESS_MODE.AM_READ, ADR(iec_result));
SysFileRead(setup_fh, ADR(setup), SIZEOF(setup), ADR(iec_result));
SysFileClose(setup_fh);
</xhtml>
                </ST>
              </body>
              <addData />
            </Method>
          </data>
          <data name="http://www.3s-software.com/plcopenxml/objectid" handleUnknown="discard">
            <ObjectId>8be5e7e8-9986-4a66-983b-87e6b07bfe15</ObjectId>
          </data>
        </addData>
      </pou>
    </pous>
  </types>
  <instances>
    <configurations />
  </instances>
  <addData>
    <data name="http://www.3s-software.com/plcopenxml/projectstructure" handleUnknown="discard">
      <ProjectStructure>
        <Object Name="app" ObjectId="8be5e7e8-9986-4a66-983b-87e6b07bfe15">
          <Object Name="init" ObjectId="54fac29e-965b-4b36-9a4b-ce8b09c8937d" />
        </Object>
      </ProjectStructure>
    </data>
  </addData>
</project>